<div
  class="hero min-h-screen relative"
  style="background-image: url(https://fotografias-neox.atresmedia.com/clipping/cmsimages02/2018/03/05/88A7CD7B-F10C-4D33-84FB-B0B2E9F45E4A/69.jpg?crop=1920,1080,x0,y102&width=1280&height=720&optimize=low&format=jpg); background-size: cover; background-position: center;"
>

  <div class="absolute inset-0 bg-black/50 backdrop-blur-sm z-0"></div>


  <div class="hero-content text-neutral-content text-center relative z-10">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold font-anta">Gameteca 🎮</h1>
      <p class="mb-5">
        Base de datos de videojuegos local creada en Angular que permite realizar un CRUD completo de los mejores títulos de los últimos años, según Metacritic
      </p>
      <button routerLink="list" class="btn btn-primary">Empezar</button>
    </div>
  </div>
</div>


<!-- <div
class="hero bg-base-200 min-h-screen"
style="background-image: url(https://images5.alphacoders.com/137/1370580.jpeg);"

>
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <fieldset class="fieldset">
          <label class="label">Email</label>
          <input type="email" class="input" placeholder="Email" />
          <label class="label">Password</label>
          <input type="password" class="input" placeholder="Password" />
          <div><a class="link link-hover">Forgot password?</a></div>
          <button class="btn btn-neutral mt-4">Login</button>
        </fieldset>
      </div>
    </div>
  </div>
</div> -->


